body{
    background-image: url("assets/fondo-app.jpg");
    background-repeat: no-repeat;
    
    

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
